body{ 
	
	background-color: purple; 
    margin: 0px; 
    font-family: Verdana, Georgia, serif; 
    font-size: 15px; 
    
    }



header{ 

	background-color: pink; 
    margin: 10px; 
    height: 90px; 
    border-radius: 5px; 
    
    }


nav{ background-color: pink; 
        margin: 10px;
      height: 35px; 
      border-radius: 5px; 
      } 

main{ 
      background-color: lightblue; 
   margin-left: 10px;
   margin-right: 320px; 
   margin-top: 10px;
   margin-bottom: 10px;
   border-radius: 5px;
      padding: 10px;
     font-size: 110%;
     
   }

h1 { font-size: 120%;
      color: darkblue; }
      
aside{ 
 background-color: #2887C8; 
  margin: 30px;
   border-radius: 5px;
    padding: 20px;
    font-size: 105%;
    float: right;
    width: 230px;  }
    
    h2 { font-size: 100%;
         color: darkblue; }

footer { background-color:pink; 
       margin: 10px; 
       height: 80px;
       clear: both;
       font-size: 60%;
       padding: 10px; }
	
